<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div data-th-fragment="footer" style="background-color: #20232e; color: grey">
		<section class="row">
			<ul class="col-4 list-group ms-4">
				<h4 class="ms-2" style="color:white">Contacto</h4>
				<li class="ms-4"><img alt="Direccion" src="/imagenes/direccion.png"> Dirección: Ítalo Palanca Nº 10</li>
				<li class="ms-4"><img class="ms-2"alt="Telefono" width="25" height="25" src="/imagenes/telefono.png"> Teléfono: 0388 422-1580</li>
				<li class="ms-4"><img alt="Mail" src="/imagenes/mail.png"> Mail: info@fi.unju.edu.ar</li>
			</ul>
			<ul class="col-4 list-group ms-4">
				<h4 class="ms-2" style="color:white">Redes Sociales</h4>
				<li><a href="https://www.facebook.com/fiunju/" target="_blank" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Facebook</a></li>
				<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" target="_blank" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Youtube</a></li>
				<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju" target="_blank" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Linkedin</a></li>
				<li><a href="https://www.instagram.com/fiunju/" target="_blank" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Instagram</a></li>
			</ul>
			<ul class="col-3 list-group ms-4">
				<h4 class="ms-2" style="color:white">Derechos de autor</h4>
				<li>Copyright © 2014-2024 - Facultad de Ingeniería - UNJu</li>
			</ul>
		</section>
	</div>
</body>
</html>