<!DOCTYPE html>
<html lang = "es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="list-group border border-primary-subtle" data-th-fragment="aside">
      <a href="/principal/index" class="list-group-item list-group-item-action" aria-current="true" style="background-color: #1d5f8b">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" style="color: white;">Pagina Principal</h5>
        </div>
        <p class="mb-1"></p>
      </a>
      <a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Biblioteca</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">Visita nuestra biblioteca.</p>
        <small class="text-body-secondary">Enterate como hacerte socio en este enlace.</small>
      </a>
      <a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html" target="_blank" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Calendario academico</h5>
        </div>
        <p class="mb-1">Facultad de Ingeniería
        Universidad Nacional de Jujuy.</p>
        <small class="text-body-secondary">Ciclo lectivo 2024.</small>
      </a>
      <a href="https://www.fi.unju.edu.ar/institucional/historia.html" target="_blank" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Historia</h5>
      </div>
      <p class="mb-1">Conoce la historia de nuestra universidad.</p>
      <small class="text-body-secondary">Desde 1972.</small>
    </a>
    </div>
    
    <div class="container" data-th-fragment="noticias">
    <section class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border border-primary-subtle" style="width: 18rem;">
                <img src="/imagenes/noticia1.jpg" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">Charla sobre Computación de Alto Rendimiento y Biometría por el Dr. Ricardo J. Barrientos</h5>
                    <p class="card-text">La Facultad de Ciencias de la Computación e Informática invita a todos los estudiantes avanzados, de postgrado y graduados
                     a participar en la charla sobre Computación de Alto Rendimiento y Biometría.</p>
                    <a href="https://www.fi.unju.edu.ar/noticias-generales/4590-charla-sobre-computacion-de-alto-rendimiento.html" target="_blank" class="btn" style="background-color: #1d5f8b; color: white">Conoce mas</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border border-primary-subtle" style="width: 18rem;">
                <img src="/imagenes/noticia2.png" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">Acreditación de la carrera Licenciatura en Ciencias Geológicas</h5>
                    <p class="card-text">Recibimos el informe de ACREDITACIÓN DE CARRERAS DE GEOLOGÍA a nivel ARCU SUR. Según el informe, la carrera
                     Licenciatura en Ciencias Geológicas de esta Facultad cumple con los criterios para la acreditación previstos en las cuatro dimensiones del proceso de acreditación.</p>
                    <a href="https://www.fi.unju.edu.ar/noticias-generales/4589-acreditacion-de-la-carrera-licenciatura-en-ciencias-geologicas.html" target="_blank" class="btn" style="background-color: #1d5f8b; color: white">Conoce mas</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border border-primary-subtle" style="width: 18rem;">
                <img src="/imagenes/noticia3.jpg" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">75ª Reunión Plenaria y Asamblea del CONFEDI: Innovación y Futuro en la Formación de Ingenieros e 
                    Ingenieras con la Participación de la Facultad de Ingeniería de la UNJu</h5>
                    <p class="card-text">La Facultad de Ingeniería fue una de las 120 facultades públicas y privadas del país que asistió a la 
                    75ª Reunión Plenaria y Asamblea del Consejo Federal de Decanas y Decanos de Ingeniería (CONFEDI), que se llevó a cabo en la Facultad 
                    de Ingeniería de la Universidad Nacional de Entre Ríos en Oro Verde, los días 16 y 17 de mayo del presente año.</p>
                    <a href="https://www.fi.unju.edu.ar/codinoa/4588-75-reunion-plenaria-y-asamblea-del-confedi-fiunju.html" target="_blank" class="btn" style="background-color: #1d5f8b; color: white">Conoce mas</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border border-primary-subtle" style="width: 18rem;">
                <img src="/imagenes/noticia4.jpg" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">La Facultad de Ingeniería firmó convenio con la Municipalidad de San Salvador de Jujuy</h5>
                    <p class="card-text">El Intendente de la Municipalidad de San Salvador de Jujuy, Arq. Raúl Eduardo Jorge, acompañado por el Secretario 
                    de Desarrollo Humano, Rodrigo Altea, la Subsecretaria de Desarrollo Humano, Daniela Amerise, y la Jefa del Departamento de Salud Mental, 
                    Lic. Adriana Bellman, del municipio capitalino, estuvo presente en la firma del acta acuerdo con esta unidad académica representada por 
                    el Decano Ing. Luis Alejandro Vargas y la participación del área de Ingeniería Saludable de la FI y estudiantes avanzados de la carrera de Ingeniería Industrial.</p>
                    <a href="https://www.fi.unju.edu.ar/actas-acuerdos-convenios/4587-convenio-fiunju-municipalidad-de-san-salvador-de-jujuy.html" target="_blank" class="btn" style="background-color: #1d5f8b; color: white">Conoce mas</a>
                </div>
            </div>
        </div>
    </section>
	</div>

</body>
</html>