<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="UTF-8">
		<title>TP4_PV</title>
		<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class = "container">
			<header>
				<div data-th-replace="~{fragments/fragmentos::navbar}">
				</div>
			</header>
			<div class="row">
				<main class="col-9">
					<h1>HOLA MUNDO!</h1>
				
				</main>
			
				<aside class="col-3">
					<div data-th-replace="~{fragments/fragmentos::aside}">
					</div>
				</aside>
			</div>
			<footer>
				
			</footer>
		</div>
		<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>